.comic__wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid darkorange;
    font-family: 'Shantell Sans', sans-serif;
}

.comic__item {
    width: 50%;
    border: 3px solid darkorange;
    position: relative;
}

.comic__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cloud-img {
    width: 100%;
}

.comic__item5 .cloud__gif {  
    position: absolute;
    width: 200px;
    top: -40px;
    left: 0;
    transform: scaleX(-1);
}

.comic__item5 .cloud__1 {  
    position: absolute;
    width: 250px;
    top: -35px;
    left: 80px;
    
}
.comic__item5 .cloud__grust {  
    position: absolute;
    width: 220px;
    top: -10px;
    left: 255px;
}

.comic__item5 .text__1 {
    position: absolute;
    top: 90px;
    right: 50px;
    font-size: 10px;

}

.comic__item5 .text__2 {
    transform: scaleX(-1);
    position: absolute;
    top: 90px;
    right: 50px;
    font-size: 16px;
    
}

.text__21 {
    position: absolute;
    top: 130px;
    right: 110px;
    font-size: 17px;
}

.text__22 {
    position: absolute;
    top: 70px;
    right: 72px;
    font-size: 18px;
    text-align: center;
}
.text__3{
    position: absolute;
    top: 110px;
    right: 100px;
    font-size: 17px;
}
.text__1{
    position: absolute;
    width: 100px;
}


.comic__item5 .cloud2 {
    position: absolute;
    width: 200px;
    right: 25%;
    bottom: 10px;

}
.comic__item5 .cloud3 {
    position: absolute;
    width: 250px;
    top: -40px;
    left: 150px;
}
.comic__item5 .cloud-img4 {
    position: absolute;
    left: -50px;
    top: 20px;
    width: 250px;
}


.comic__item5 .cloud-img3 {
    position: absolute;
    left: -50px;
    top: 20px;
    width: 250px;
}


@media(max-width:900px) {
    .comic__item {
        width: 100%;
    }
}

@media(max-width:600px) {
    .comic__item5 .cloud__1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item5 .cloud__gif {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item5 .cloud-img1 {
        transform: scaleX(-1) scaleY(-2);
        
    }

    .comic__item5 .cloud2 {
        position: absolute;
        width: 200px;
        right: 50px;
        bottom: 50px;
    }

    .comic__item5 .cloud-img2 {
        transform: rotate(180deg);
    }
}